/target/
/.settings
.classpath
.project

/boot-tech-core/.settings
/boot-tech-core/target
/boot-tech-core/.classpath
/boot-tech-core/.project

/boot-tech-service/.settings
/boot-tech-service/target
/boot-tech-service/.classpath
/boot-tech-service/.project

/boot-tech-web/.settings
/boot-tech-web/target
/boot-tech-web/.classpath
/boot-tech-web/.project

/boot-tech-client/.settings
/boot-tech-client/target
/boot-tech-client/.classpath
/boot-tech-client/.project